import "./{{dashCase name}}.style.scss";

function {{properCase name}}() {
  return <div className="{{dashCase name}}">This is the {{titleCase name}} component</div>;
}

export default {{properCase name}};